{% extends "base.html" %}
{% block page_content %}
<main class="w-100" id="main-about">
	<div class="container-fluid h-100 about" id='main-about-container'>
		<h2 class="text-center">A propos</h2>
		<div class="row">
			<p class="twocols-lg" id="about-us"><span style="float:right;">Mais qui est ce drôle de professeur ?</span>
				<br><br>
<strong>C’est un professeur de langues et avant tout un voyageur !</strong>
<br><br>
Car oui, se lancer dans l’enseignement des langues c’est vouloir partager un voyage, c’est vouloir transmettre une passion, c’est répondre à la curiosité de jeunes pour qui « l’autre », cet inconnu qui ne parle pas la même langue» est fascinant.
<br><br>
Vivez l’expérience : Prononcez quelques phrases dans une langue étrangère dans une classe, même chez nos plus petits et les regards se tournent vers vous, la magie opère, le voyage commence…
<br><br>
<strong>Alors oui, un beau métier que celui du professeur de langues qui invite au voyage !</strong>
<br><br>
Mais un voyage inscrit dans son temps, avec des outils modernes, actuels, avec le numérique pour aller plus loin encore, pour être au plus près de l’authentique. 
<br><br>
Exit le cours de langues sur tableau de feutre, les longues listes de verbes à savoir par cœur, l’élève statique sur sa chaise à recopier des mots bien étranges pour lui. Les cours de langues sont aujourd’hui des lieux de vie, d’échanges, où les mots font vivre la culture, des espaces aménagés où les élèves bougent, coopèrent, où la recherche d’innovations est en mouvement.
<br><br>
Le professeur de langues est un voyageur-chercheur d’innovations, d’outils pour colorer ses cours.
<br><br>
Alors pourquoi <i style="color:green;">SeézLangues</i> ?
<br><br>
<i style="color:green;">SeézLangues</i>  est un site collaboratif pour tous ces voyageurs-professeurs de langues en quête de ressources pédagogiques, d’idées et de témoignages. 
<br><br>
Notre intérêt est la recherche d’innovations pédagogiques et le partage des pratiques et postures professionnelles nouvelles répondant davantage aux élèves d’aujourd’hui. 
<br><br>
<strong>L’élève d’aujourd’hui n’est pas celui d’hier ?</strong>
<br><br>
Non et les pratiques d’hier ne sont plus celles d’aujourd’hui !
C'est parce que l'école d'aujourd'hui doit s'inscrire dans son temps que nous devons repenser nos postures et celles des élèves. D'un savoir unique et descendant nous devons inverser, accompagner vers l'autonomie, donner des outils modernes et prometteurs à nos élèves. De la classe traditionnelle à la classe inversée ou accompagnée, nos postures se questionnent, se renouvellent.
<br><br>
<strong>Oui, mais pas toujours facile ?</strong>
La prise de risques fait peur, l’inspiration n’est pas toujours au rendez-vous, le numérique pas accessible à tous, et les intelligences multiples effraient.
<br><br>
<i style="color:green;">SeézLangues</i> souhaite essayer d’apporter un soutien, permettant de mettre en lumière les expériences, les réussites des collègues qui tentent le changement, qui expérimentent mais aussi propose un espace de discussion, un forum pour se connaître, s’encourager.
<br><br>
Avec <i style="color:green;">SeézLangues</i> nous voulons, en toute bienveillance et professionnalisme, non seulement proposer inspiration et ressources, afficher notre dynamisme mais aussi créer du lien entre nous, nous ces voyageurs-professeurs de langues, pour vivre pleinement notre passion et la partager avec les jeunes de nos établissements !
<br><br><br>
<strong style="float: right;">{% if not user.is_authenticated %}<a id="button-join-us" class="btn btn-primary btn-purple" href="/sign_up">Alors, n’hésitez pas, rejoignez-nous !</a>{% else %}Alors, n’hésitez pas, rejoignez-nous !{% endif %}</strong>
</p>
		</div>
	</div>
</main>
{% endblock %}