<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeqZAsOqonLil33qXIVa0zLuSL9r81832ga7fJVnD_nf_pLSA/viewform?embedded=true" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="1%">Chargement…</iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
