{% extends "base.html" %}
{% block page_content %}
<header class="cathead h-50" id="cathead">
	<div class="container">
		<div class="row">
			<div class="col-8 text-center">
				<h2>{{ category.name }}</h2>
				{% if category.description %}
				<h4>Description</h4>
				<p>{{ category.description }}</p>
				{% endif %}
				<!-- path -->
				<p>{{ category.parent_category.name }} > {{ category.name }}</p>
				{% for cat in category.sub_category.all %}
				<a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</header>
<section class="page-section">
	<div class="container">
		{% if articles %}
		{% for article in articles %}
		<div class="row-article-{{ article.id }}">
			<a href="{{ article.get_absolute_url }}">
			<div class="col-lg-8" id="article-{{ article.id }}">
				<h4>{{ article.title }}</h4>
				{% if article.is_anonymous %}
				<p> par Anonyme</p>
				{% else %}
				<p class="text-muted">Le {{ article.created }} par {{ article.writer }}</p>
				{% endif %}
			</div>
			</a>
		</div>
		<hr>
		{% endfor %}
		{% else %}
		<div class="row text-center">
			<div class="col-lg-8">
				<h3>Aucun article</h3>
			</div>
		{% endif %}
	</div>
</section>
{% endblock %}